---
# DIANA-Watcher config

source:
  pattern:
    class: ObservableOrthancProxy
    host: trusty64
    port: 42001

    query_dict:
      ModalitiesInStudy: ''
      StudyDescription:  '*'
    query_domain: mypacs
    query_level: 1                   # Studies
    query_discovery_period: -300     # Look back 5 mins

    polling_interval: 120            # Check every 2 mins

dest:
  pattern:
    class: Splunk
    host: trusty64

    default_index: watcher
    default_token: watcher
    hec_tokens:
      watcher: 65d4ab0a-9a00-4fa2-b150-8343f0d168da

# If the watcher container shares the orthanc container
force_config:
  fp: /etc/orthanc/orthanc.json
  updates:
    modalities:
      mypacs: ['pacs_ip', 'pacs_port', 'pacs_aet']
  post_config_action:
    object: source
    method: reset  # Hot restart orthanc with new config
