# Copy into {{ CONFIG_DIR }}/diana/routing/{{ orthanc_container_name}}.yml.
# DianaWatcher merges the routing tables and starts and monitors all observers.

from functools import partial
from diana.apis import Orthanc, DicomFile
from diana.daemon import DianaEventType, DianaWatcher

orthanc_archive = Orthanc( host='{{ dockerhost_ip }}',
                           port='{{ qorth_destination.orthanc_ports.api }}',
                           user='{{ qorth_destination.orthanc_user')
orthanc_queue   = Orthanc( host='{{ dockerhost_ip }}',
                           port='{{ qorth_queue.ports.api }}',
                           user='{{ qorth_queue.orthanc_user }}')
dcm_file        = DicomFile( location = '{{qorth_queue.ftpd_incoming_dir}}' )

routing = {

    (dcm_file, DianaEventType.INSTANCE_ADDED):
        partial(DianaWatcher.move, dest=orthanc_queue, remove=True),

    (dcm_file, DianaEventType.STUDY_ADDED):
        partial(DianaWatcher.unpack_and_put, dest=orthanc_queue, remove=True),

    (orthanc_queue, DianaEventType.INSTANCE_ADDED):
        partial(DianaWatcher.anonymize_and_move, dest=orthanc_queue, remove=True),

}